<entry>
  <% if entry.identifier.present? %>
  <id>urn:x-internet-archive:ebooks-app:item:<%= entry.identifier %></id>
  <% end %>
  <% if entry.title.present? %>
    <title><%= entry.title %></title>
  <% end %>
  <bibframe:distribution bibframe:ProviderName="Internet Archive"/>
  <% if entry.summary.present? %>
    <summary type="text"><%= entry.summary %></summary>
  <% end %>
  <% if entry.updated.present? %>
    <updated><%= entry.updated.iso8601 %></updated>
  <% end %>
  <% if entry.date_issued.present? %>
    <dcterms:issued><%= entry.date_issued.year %></dcterms:issued>
    <published><%= entry.date_issued.iso8601 %></published>
  <% end %>
  <% if entry.publisher.present? %>
    <dcterms:publisher><%= entry.publisher %></dcterms:publisher>
  <% end %>
  <% if entry.language.present? %>
    <dcterms:language><%= entry.language %></dcterms:language>
  <% end %>
  <% entry.creators.each do |creator| %>
    <author><%= creator %></author>
  <% end %>
  <% entry.subjects.each do |subject| %>
    <category term="<%= subject %>" label="<%= subject %>"/>
  <% end %>
  <% if entry.has_pdf? %>
    <%=
      # Note: The EPUB quality for our IA items is subpar, so we're only providing PDFs for now.
      %Q(<link href="https://archive.org/download/#{entry.identifier}/#{entry.identifier}.pdf" type="application/pdf" rel="http://opds-spec.org/acquisition/open-access" />).html_safe
    %>
  <% end %>
  <%
    # if entry.has_epub?
    #  %Q(<link href="https://archive.org/download/#{entry.identifier}/#{entry.identifier}.epub" type="application/epub+zip" rel="http://opds-spec.org/acquisition/open-access" />).html_safe
    # end
  %>
  <% if entry.has_image? %>
    <link href="http://archive.org/download/<%= entry.identifier %>/page/cover_medium.jpg" type="image/jpeg" rel="http://opds-spec.org/image"/>
    <link href="http://archive.org/download/<%= entry.identifier %>/page/cover_medium.jpg" type="image/jpeg" rel="http://opds-spec.org/image/thumbnail"/>
  <% end %>
</entry>
